*{
	margin: 0;
	padding: 0;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login_div{
	width: 100%;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:linear-gradient(to top, #eecfcc ,#f5eceb);

}
.login{
	width: fit-content;
	height: fit-content;
	padding: 20px 40px;
	border: 2px solid;
	border-radius: 25px;
	background:linear-gradient(to bottom, pink ,skyblue);
	font-size: 18px;
}
.login input{
	margin-top: 6px;
	margin-bottom: 8px;
	outline: none;
	border: none;
	padding: 2% 1%;
	border-radius: 5px;
}
button{
	margin-top: 10px;
	padding: 5px 15px;
	border-radius: 10px;
	border: 2px solid black;
	background-color: black;
	color: white;
}
button:hover{
	color: black;
	background-color: white;
	border: 2px solid white;
	cursor: pointer;
}
.options{
	width: 100%;
	height: 100svh;
	background-color: pink;
	display: flex;
}
.left_side_div{
	width: 25%;
	height: 100%;
	background-color: rgb(49, 115, 231);
}
.right_side_div{
	width: 75%;
	height: 100%;
	background-color: white;
	box-sizing: border-box;
	padding: 5%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.option_div{
	width: 25%;
	height: 45%;
	margin: 25px;
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
	align-content: center;
	cursor: pointer;
}