* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login_div{
	width: 100%;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:linear-gradient(to top, #eecfcc ,#f5eceb);

}
.login{
	width: fit-content;
	height: fit-content;
	padding: 20px 40px;
	border: 2px solid;
	border-radius: 25px;
	background:linear-gradient(to bottom, pink ,skyblue);
	font-size: 18px;
}
.login input{
	margin-top: 6px;
	margin-bottom: 8px;
	outline: none;
	border: none;
	padding: 2% 1%;
	border-radius: 5px;
}
button{
	margin-top: 10px;
	padding: 5px 15px;
	border-radius: 10px;
	border: 2px solid black;
	background-color: black;
	color: white;
}
button:hover{
	color: black;
	background-color: grey;
	border: 2px solid white;
	cursor: pointer;
}

.options {
	width: 100%;
	height: 130svh;
	display: flex;
	flex-direction: row;
}

.left_side_div {
	width: 25%;
	height: 100%;
	/* background-color: rgb(49, 115, 231); */
	color: white;
	font-weight: 900;
	background-image: url(https://th.bing.com/th/id/OIP.InxtKxmyq8VE1MKNcSPkgAHaLH?pid=ImgDet&w=185&h=277&c=7&dpr=1.3);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;

}

.right_side_div {
	width: 75%;
	height: 100%;
	background-color: white;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	justify-content: flex-start;
}

.right_side_div h1 {
	font-size: 2rem;
	margin: 20px 0;
}

.option_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}

.option_div {
	width: 30%;
	height: 150px;
	margin: 20px;
	border: 2px solid black;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #f9f9f9;
	transition: background-color 0.3s ease;
	padding: 20px;
}

.option_div.selected {
    background-color: black;
	color: white; /* Change this to your desired color */
}

.option_div h1 {
	font-size: 1.5rem;
}

@media (max-width: 768px) {
	.left_side_div {
		width: 100%;
		height: 16vh;
	}

	.right_side_div {
		width: 100%;
		padding: 3%;
	}

	.option_div {
		width: 45%;
		height: 150px;
	}
}

@media (max-width: 480px) {
	.options {
		flex-direction: column;
	}

	.left_side_div {
		width: 100%;
		height: 13vh;
	}

	.right_side_div {
		width: 100%;
		padding: 2%;
	}

	.option_container {
		flex-direction: column;
	}

	.option_div {
		width: 80%;
		height: 120px;
		margin: 10px 0;
	}

	.option_div h1 {
		font-size: 1.2rem;
	}
}

.left_side_div .progress-bar{
	height: fit-content;
	width: fit-content;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.left_side_div .progress-bar .step {
	margin: 2.5rem 2rem;
	font-size: 22px;
	border: 2px solid black;
	box-sizing: border-box;
	width: 38.8px;
	height: 38.8px;
	text-align: center;
	padding: 5px;
	border-radius: 50%;
	background-color: black;
	position: relative;
  }



@media (min-width: 1201px) {
	.left_side_div .progress-bar .step::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		width: 2px;
		height: 7rem;
		background-color: black;
	 }

	  .left_side_div .progress-bar .step:last-child::after {
		content: none;
		}
  }

@media screen and (max-width: 1200px) {
	.options {
		flex-direction: column;
	}
	.left_side_div .progress-bar{
		flex-direction: row;
	}
	.left_side_div .progress-bar .step{
		margin: auto 2rem;
		font-size: 22px;
	}
	.left_side_div {
		width: 100%;
		height: 15%;
		background-color: rgb(49, 115, 231);
	}

	.right_side_div {
		width: 100%;
		height: 85%;
	}
	.left_side_div .progress-bar .step::after {
		content: '';
		position: absolute;
		top: 50%;
		right: -4.5rem;
		width: 4.5rem;
		height: 2px;
		background-color: black;
	 }

	  .left_side_div .progress-bar .step:last-child::after {
		content: none;
	 }
}
.form{
	width: 75%;
	display: flex;
	justify-content: center;
	margin-top: 75px;
}
@media screen and (max-width: 1200px) {
	.form{
		width: 100%;
	}
}


.donor {
    width: 100%;
	max-width: 350px;
	height: fit-content;
    border: 2px solid black;
    background: linear-gradient(to bottom, #e57373, #c62828);
    border-radius: 25px;
    padding: 2% 4%;
    margin: auto;
}

.donor input,
.donor select {
    width: 100%;
    max-width: 250px;
    margin: 5px 0;
	font-size: 1.2rem;
}
.donor .sub{
	width: 100%;
	display: flex;
	justify-content: center;
}

.donor label {
    font-size: 1.2rem;
}

.donor .gender{
	width: auto;
}

/* @media (max-width: 600px) {

    .donor input,
    .donor select,
    .donor label {
        font-size: 1.5rem;
    }
} */


.next_btn_div{
	width: 75%;
	height: 8svh;
	/* background-color: pink; */
	margin: 10px;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
}